h1{
    font-family:"Century Schoolbook";
    font-size: 42px;
    font-style:inherit;
    padding-left: 150px;
    color: white;
    padding-top: 10px;

}
h4{
    padding-top: 5px;
    padding-left: 1000px;

}
h3{
    color: darkblue;
    padding-top: 30px;
    font-size: 25px;
    margin: 0 auto;
    padding-left: 270px;
    padding-bottom: 10px;
}
h2{
    font-family: "Century Schoolbook";
    font-size: 20px;
    color: white;
    font-style: normal;
    text-transform: uppercase;
    padding-left: 80px;
    margin: 0 auto;

}


.top-bar{
    width: 1190px;
    height: 130px;
    background: darkblue;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
}
.type table{

    background: #e3e3e3;
    display: list-item;
    list-style: none;
    width: 1190px;
    height: 400px;
    margin: 70px;
    border-radius: 10px;
}
.type table td{
   padding: 50px;


    font-size:larger;


}
.type table td select{
    font-size: large;
}
.type table td butto{
    font-size: larger;

}
